body {
    background-color: #EDE9E0;
 } 
 /*
 img{
 	float: left;
  color: red;
 }

.menu { 
  width: 400px;
  float: left;
  }
.menu_link {
  color: black;
  font-size: 20px;
  padding: 10px;
  float: right;
 }
.menu_link a {
  color: blak;
}
.phone{
  
}
.sign{
  width: 400px;
  float: left;
  line-height: 60px;
  border-left: 3px solid #fff;
}
.heading{
  float: left;
  width: 350px;
  line-height: 60px;
}
*/
text-transform: uppercase;
*\