body {
    background-color: #ede9e0;
    font-family: 'Fira Sans', sans-serif;
 } 
 .container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: nowrap;
 }
 .wrapper {
  display: inline-block;
  
 }

 .menu_item {
  display: inline;
 }
 .ph_number a{
  float: left;
 }
 .promo_content{
  width: 300px;
  font-size: 26px;
 }
 .promo_saying{
  font-size: 13px;
  text-transform: uppercase;

 }
 .promo {
  align-content: center;
 }
 .about {
  width: 1024px;
  background-color: #510fad;
  color: #ffffff;
 }
 .about_promo{
  width: 100px;
  text-align: center;
  margin: 0px 150px;
 }
 .blog{
  width: 1024px;
  background-color: #510fad;
  color: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
 }
 /*
 img{
 	float: left;
  color: red;
 }

.menu { 
  width: 400px;
  float: left;
  }
.menu_link {
  color: black;
  font-size: 20px;
  padding: 10px;
  float: right;
 }
.menu_link a {
  color: blak;
}
.phone{
  
}
.sign{
  width: 400px;
  float: left;
  line-height: 60px;
  border-left: 3px solid #fff;
}
.heading{
  float: left;
  width: 350px;
  line-height: 60px;
}
*/
text-transform: uppercase;
*\