body {
  background-color: #ede9e0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #202020;

} 

a{
  font-family:'Fira Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 40px;
  text-decoration: none;
  font-weight: 500;
}

h1{
  font-family:'Fira Sans', sans-serif;
  font-weight: medium;
  font-size: 48px;
  line-height: 40px;
}

h2{
  font-family:'Fira Sans', serif;
  font-weight: 500;
  font-size: 36px;
  letter-spacing: 0.05em;
  line-height: 40px;
 }

h3{
  font-family:'Fira Sans', sans-serif;
  font-weight: medium;
  font-size: 24px;
  letter-spacing: 0.05em;
  line-height: 40px;
 }
 section{
 padding: 70px 0px;
  
 }
.icon{
background: url(../img/sprite.png) no-repeat;
width: 26px;
height: 26px;
display: inline-block;
 }

.vk_dark{
  background-position: -26px 0px;
  width: 26px;
  height: 26px;
}
.vk_dark:hover{
  background-position: -26px -52px;
  width: 26px;
  height: 26px;
}
.fb_dark{
  background-position: -78px -26px;
  width: 26px;
  height: 26px;
}
.fb_dark:hover{
  background-position: -52px -52px;
  width: 26px;
  height: 26px;
}
.inst_dark{
  background-position: -52px -26px;
  width: 26px;
  height: 26px;
}
.inst_dark:hover{
  background-position: -52px 0px;
  width: 26px;
  height: 26px; 
}
.vk_yelow{
  background-position: 0px -26px;
  width: 26px;
  height: 26px;
}
.vk_yelow:hover{
  background-position: -78px -52px;
  width: 26px;
  height: 26px; 
}
.fb_yelow{
background-position: -78px 0px;
width: 26px;
height: 26px
}
.fb_yelow:hover{
 background-position: 0px 0px;
  width: 26px;
  height: 26px; 
}
.inst_yelow{
  background-position: 0px -52px;
  width: 26px;
  height: 26px;
}

.inst_yelow:hover{
  background-position: -52px 0px;
  width: 26px;
  height: 26px;
}

.subtitle {
  font-family:'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 30px;
  text-transform: uppercase;
  color: #727173;
}

.headline_description{
  font-family:'Roboto', sans-serif;
  font-weight: medium;
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 30px;
}


.wrapper {
  width: 1024px;
  margin: 0 auto;
 }

.container {
display: flex;
-webkit-flex-direction: column;
-moz-flex-direction: column;
-ms-flex-direction: column;
-o-flex-direction: column;
flex-direction: column;
padding: 0px 42px;
 }

.header-container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
 }

.logo {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-self: auto;
  width: 101px;
  height: 60px;
  margin: 20 20px;
 }

.nav_wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  text-decoration: none;
  flex-wrap: nowrap;
  margin-left: 216px;
  justify-content:space-between;
 }

.section_headline{
  text-align: left;
  margin-left: 365px;
  /*padding: 50px 0px;*/
 }


.main_menu{
/*align-self: center;*/
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
justify-content: space-between;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.menu_list {
  margin: 0;
  padding: 0;
  align-self: center;

}


.menu_item {
  display: inline;
  padding:0px 5px;
 }


.menu_item a{
font-weight: 500;
color: #000000;
}

.menu_item a:hover{
color: #510fad;
}



.ph_number {
  align-self: center;
}

.ph_number a{
  font-weight: ;
  text-decoration: none;
  /*padding: 10px;*/
  color: #510fad;
  margin: 5px;
  font-weight: ;
 }

.promo_content{
  width: 550px;
  margin-left: 315px;
  font-size: 20px;
  align-content: left;
  padding: 150px 0px;
 }
 .promo_content p:before{
  display: inline-block;
  content: '';
  background-image: url(../img/sprite.png);
  background-position: -104px 0px;
  width: 2px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
 }

.promo_saying{
  font-size: 10px;
  color: #510fad;
  font-weight: ;
  text-transform: uppercase;
 }

.promo {
/*margin: 150px 0px;*/
background-image: url(../img/dog.png);
background-repeat: no-repeat;
background-position: top left;
margin-top:-140px ;
margin-left: 50px;
  }

.about_headline  {
margin-left: 365px;
color: #ffffff;
}

.about:before{
  content: '';
  display: block;
  position: absolute;
  width: 1024px;
  height: 66px;
  bottom: 100%;
  /*background-color: red;*/
  background-image: url(../img/blog-top-part.png);
  background-repeat: no-repeat;
  -webkit-background-size: ;
  background-size: 100% 100%;
  margin-bottom: -1px;
}

.about {
  background-color: #510fad;
  color: #b8adc8;
  padding: 50px 0;
  position: relative;
 }

 .about:after{
  content: '';
  display: block;
  position: absolute;
  width: 1025px;
  height: 76px;
  top: 100%;
  background-image: url(../img/blog-bottom-part.png);
  background-repeat: no-repeat;
  -webkit-background-size: ;
  background-size: 100% 100%;
  /*margin-bottom: -1px;*/
}


.about_promo{
  margin-left: 365px;
/*margin: 0 auto;*/

  }

.about_promo p{
  max-width: 400px;
  width: 100%;
  text-align: left;
}

.about_image {
width: 460px;
border: 0px solid #000;
border-radius: 15px;
 }

.about_image img{
border: 0px solid #000;
border-radius: 15px;
box-shadow: 0px 0px 20px 0px #000000;
 }

.about_image img:hover{
  box-shadow: 0px 0px 30px 1px #000000;
 }

.about_description{
margin: 0;
}

.about_wrapper{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 60px 0px;
}

.more_about a{
  color: #ffec00;
  text-decoration: none;
}

.more_about a:hover{
  color: #b8adc8;
}

.more_about {
  padding: 20px;
}

.more_about a:after{
  display: inline-block;
  content: '';
  background-image: url(../img/sprite.png);
  background-position: 0px -78px;
  width: 20px;
  height: 14px;
  margin-left: 10px;
  vertical-align: middle;
}


.advantages{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 460px;
}

.advantages_list{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.advantages_item {
}


.breeds{
padding: 0;
margin-top: 150px;
 }


.breeds_headline {
 
 }

.breed_list{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
 }

.breed_type {
  width: 460px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  margin: 50px 0px;
 }

.breed_type_wrapper{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
}

.breed_type_img{
  width: 140px;
  height: 140px;
  padding-right: 20px;

}

.breed_type_content{
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;

}

.breed_type_description{
margin-bottom: 70px;
}

.view_pupies{
  text-decoration: none;
  text-transform: uppercase;
  color: #510fad;
  font-weight: ;


}

.review {
background-image: url(../img/cite.png);
background-repeat: no-repeat;
background-position: 5% 20%;
padding: 0;
margin: 10  0px 0px;

}

blockquote{
width: 460px; 
margin: 0;
}


.review_item_wrapper{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
 }

cite{
font-weight: bold;
font-style: normal; 
}


.reviewer_name{
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  font-style: normal;
}

.pubtime{
  color: #737274;
  font-weight: italic;
}



.review_item img{
border: 0px solid #000;
width: 460px;
border-radius: 15px;
box-shadow: 0px 0px 20px 0px #000000;
}

.review_item img:hover{
box-shadow: 0px 0px 30px 1px #000000;
}


.reviewer_photo{

 }

.more_review{
  text-align: left;
  display: block;
  color: #737274;
 }

.more_review a{
  color: #510fad;
  font-weight: ;
  text-decoration: none;
}

.blog{
background-image: url(../img/blog_bg_pattern.png);
background-repeat: repeat;
color: #b8adc8;
/*padding: 60px 0px;*/
}

.blog_wrapper{
  padding: 40px 42px;
  display: flex;
  justify-content: space-between;
}

.blog_item{
  display: flex;

}

.blog_about{
flex-direction:column;
width: 430px;
}

.blog_about h2{
  margin:40px 0px;
color: #ffffff;
}
.blog_description{
  margin:0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.blog_about ul{
padding: 0;
margin:40px 0px;
}

.articles{
  width: 460px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;

 }

.article{
width: 220px;
border: 0px solid #000;
border-radius: 15px;
background-color: #ffffff;
color: #000000;
box-shadow: 0px 0px 20px 0px #000000;

 }

.article:hover{
box-shadow: 0px 0px 30px 1px #000000;
}

.arrows a{
margin: 10px;
font-weight: 500;
 }
.arrows a:after{
  display: inline-block;
  content: '';
  background-image: url(../img/sprite.png);
  background-position: -20px -78px;
  width: 20px;
  height: 14px;
  margin-left: 10px;
  vertical-align: middle;
}
.arrows a:hover{
  color: #737274;
}

.article p{
  margin: 10px;
  font-weight: 500;   
}


.social_icon{
  display: inline;

 }


.article img{
  width: 220px;
  height: 160px;
border: 0px solid #000;
border-radius:15px 15px 0px 0px;
 }

.article h3{
  font-weight: normal;
  margin: 0;
 }


.contacts_container h2{
padding: 40px;
 }

.contacts{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

 }

.contacts_sence{
  width: 470px;

 }

.contacts_sence h4{
  text-transform: uppercase;
  color: #737274;
  margin: 0;
 }

.contacts_sence p{
  font-weight: ;
 }

.contacts_sence a{
  text-decoration: none;
  color: inherit;
 }

.footer_container{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
 }

.footer_menu_list li{
  padding: 10px;
}


.footer_menu_item{
  display: inline;

}

.footer_menu_item a{
  text-decoration: none;
  color: #737274;
}

.footer_social_icon{
padding-right: 40px;
vertical-align: middle;
}

